@{
  Layout = "_Layout";
}

@using CandyShop.ViewModels
@model CreateRoleViewModel

<h4>Create New Role</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.RoleName, null, new { @class = "mx-2"})
  @Html.TextBoxFor(model => model.RoleName, null, new { @class = "mx-2"})

  <input class="btn" type="submit" value="Add Role" />
}