@{
  Layout = "_Layout";
}

@using CandyShop.ViewModels

@model LoginViewModel

<h2>Log in with your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Email, null, new { @class = "mx-2"})
    @Html.TextBoxFor(m => m.Email, null, new { @class = "mx-2"})
    @Html.LabelFor(m => m.Password, null, new { @class = "mx-2"})
    @Html.PasswordFor(m => m.Password, new { @class = "mx-2"})

    <input type="submit" value="Log in" class="btn btn-default" />
}