@{
  Layout = "_Layout";
}

@model CandyShop.Models.Treat

<h3>Add a new Treat</h3>

<div>
  @using (Html.BeginForm())
  {
    <h5>Name:</h5>
    @Html.TextBoxFor(model => model.Name)

    <h5 class="my-3"> Assigning this treat flavor(s): </h5>
    @Html.Label("Flavor", null, new { @class = "mr-2"})
    @Html.DropDownList("FlavorId", "Create without assigning")

    <input type="submit" value="Add new Treat" class="btn btn-default ml-2" , required/>
  }
</div>
<p class="my-3">@Html.ActionLink("Treat List", "Index")</p>