@{
  Layout = "_Layout";
}

@model CandyShop.Models.Flavor;

<h4>Add a new flavor</h4>

<div>
  @using (Html.BeginForm())
  {
    <h2> Flavor Name: </h2>
    @Html.TextBoxFor(model => model.Name)

    <div class="form-group" >
    <h2> Assign:</h2>
    @Html.Label("Treat")
    @Html.DropDownList("TreatId", "Unassigned")
    </div>

    <input class="btn" type="submit" value="Add New Flavor" required>
  }
</div>

<div class="mt-3">
  @Html.ActionLink("Flavor List", "Index")
</div>